body {
  background-image: url("media/clouds3.jpg");
  background-size: 1800px 1000px;
  background-repeat: no-repeat;
}

h1 {
  font-family: Poppins, arial, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  padding: 15px 15px 5px 15px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: inline;
}
a {
  text-decoration: none;
  color: #70757a;
}
footer {
  padding: 30px 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.link {
  text-decoration: underline;
}
.col-3 {
  width: 100%;
}

.degrees {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  margin-left: 0;
  vertical-align: top;
}

.weather-app {
  display: block;
  border: 1px #d6d6d6 solid;
  border-radius: 8px;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f2f2f257;
}

.location-date,
.weather-units {
  display: block;
  margin: 0;
  padding: 0;
}
.location-date {
  color: #70757a;
  font-size: 16px;
  line-height: 16px;
  padding-left: 9px;
}
.weather-units {
  color: #70757a;
  font-size: 12px;
  line-height: 12px;
  padding-left: 9px;
}

#icon {
  position: fixed;
  left: 53%;
  top: 112px;
  width: 180px;
  color: rgba(4, 4, 116, 0.822);
}

.weekdays {
  color: #202124;
  font-size: medium;
  display: inline-flex;
  text-align: center;
  padding-top: 30px;
}

.icons {
  display: inline-flex;
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

.form-control {
  fill: none;
  background: #57524f0c;
}

.temperature-high {
  color: #202124;
  font-size: medium;
  display: inline;
  text-align: center;
  padding-top: 20px;
}
.temperature-low {
  color: #202124;
  font-size: 12px;
  line-height: 12px;
  display: inline;
  text-align: center;
}

.fa-sun {
  color: rgba(241, 186, 7, 0.801);
}

.fa-cloud {
  color: rgba(135, 206, 250, 0.788);
}
.fa-wind {
  color: #b8bbb9a1;
}
