body {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  height: 100vh;
  margin: 0;
}
h1 {
  font-family: Poppins, arial, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  padding: 15px 15px 5px 0px;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
li {
  list-style-type: none;
  display: inline;
}
a {
  text-decoration: none;
  color: #70757a;
}
footer {
  padding: 30px 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}


.link {
  text-decoration: underline;
}
.col-3 {
  width: 100%;
}

.degrees {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  margin-left: 0;
  vertical-align: top;
}

.weather-app {
  display: block;
  border: 1px #d6d6d6 solid;
  border-radius: 8px;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff28;
}

.location-date,
.weather-units,
.weather-app-location
 {
  display: block;
  margin: 0;
  padding: 0;
}
.location-date,
.weather-app-location {
  color: #70757a;
  font-size: 16px;
  line-height: 16px;
}

.weather-units {
  color: #70757a;
  font-size: 12px;
  line-height: 12px;
}

#main-icon {
 position: absolute;
 top: 13%;
 right: 38%;

}


#search-form-input {
  fill: none;
  background: #57524f0c;
  border-radius: 4px;
  border: solid 1px #70757a;
  width: 400px;
  height: 39px;
}


.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.6;
}


.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;

}

#forecast {
  display: flex;
  justify-content: center;
}

#fahrenheit {
  font-size: 25px;
}

#weather-description {
  font-style: italic;
}

.weather-summary {
  padding-left: 15px;
}